@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: rgb(255, 241, 241);
  background: linear-gradient(
    0deg,
    rgba(255, 241, 241, 1) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 241, 241, 1) 100%
  );
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.logo {
  width: 190px;
  height: 65px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-item {
  font-family: "Roboto", sans-serif;
  color: #035755;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
}

.menu-item:first-child {
  color: #fb4c47;
  border-bottom: 1px solid #ff4c47;
}

.menu-item:last-child {
  color: #ff383d;
  padding: 10px 30px 10px 30px;
  border: 2px solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46px;
}

.conteudo {
  margin-top: 40px;
}

.secao1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secao1-conteudotexto {
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.secao1-titulo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #fa5652;
}

.secao1-subtitulo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 55px;
  color: #035755;
}

.secao1-texto {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #4b4f51;
  line-height: 190%;
  width: 550px;
  text-transform: capitalize;
}

.secao1-btn {
  width: 250px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #fb4c47;
  border: 2px solid #fb4c47;
  border-radius: 65px;
  cursor: pointer;
}

.secao1 img {
  width: 1000px;
}

.secao2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secao2 img {
  width: 840px;
  height: 800px;
}

.secao2-conteudotexto {
  margin-right: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.secao2-titulo {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: 29px;
  color: #fa5652;
}

.secao2-subtitulo {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #035755;
}

.secao2-texto {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4b4f51;
  line-height: 190%;
  width: 648px;
  height: 200px;
  text-transform: capitalize;
  margin-right: 150px;
}

.secao2-btn {
  width: 250px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
  border: 0px;
  border-radius: 65px;
  cursor: pointer;
}

.contagion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 120px;
}

.contagiontextbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contagiontitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 30px;
  color: #fa5652;
}

.contagionsubtitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 50px;
  color: #035755;
}

.contagiontext {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}
.contagioncards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}

.card1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  width: 460px;
  height: 575px;
  padding: 30px;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  border-bottom: 6px solid #fa5652;
}

.card1 img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card1title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 147%;
  text-transform: capitalize;
  margin-top: 10px;
  color: #035755;
}

.card1text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 185%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.card2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 30px;
  width: 460px;
  height: 575px;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.card2 img {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card2title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
}

.card2text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 185%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.card3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 30px;
  width: 460px;
  height: 575px;
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
}

.card3 img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card3title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 147%;
  text-transform: capitalize;
  margin-top: 10px;
  color: #035755;
}

.card3text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 185%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.symptomps {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.symptompstextbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.symptompstitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 30px;
  color: #fa5652;
}

.symptompssubtitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 50px;
  color: #035755;
}

.symptompstext {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.recommendations {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}

.recommendationstextbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recommendationstitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 30px;
  color: #fa5652;
}

.recommendationssubtitle {
  font-family: "Red Hat Display", sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 50px;
  color: #035755;
}

.recommendationstext {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 215%;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.wearmask {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  margin-top: 60px;
}

.wearmask .number {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #fa5652;
  background-color: #fee6e5;
  border: 3px solid #fee6e5;
  border-radius: 50%;
  padding: 5px;
}

.wearmasktextbox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.wearmasktextbox .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  text-transform: capitalize;
  color: #035755;
}

.topic1text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 532px;
  height: 160px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}

.wearmask img {
width: 555.65px;
height: 574.98px;
}

.washhands {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  gap: 100px;
  margin-top: 60px;
}

.washhands .number {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  color: #fa5652;
  background-color: #fee6e5;
  border: 3px solid #fee6e5;
  border-radius: 50%;
  padding: 5px;
}

.washhandstextbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.washhandstextbox .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
  gap: 20px;
}

.topic2text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 532px;
  height: 160px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}

.washhands img {
width: 555.65px;
height: 574.98px;
}

.noserag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  margin-top: 60px;
}

.noserag .number {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  color: #fa5652;
  background-color: #fee6e5;
  border: 3px solid #fee6e5;
  border-radius: 50%;
  padding: 5px;
}

.noseragtextbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.noseragtextbox .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
  gap: 20px;
}

.topic3text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 532px;
  height: 160px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}

.noserag img {
width: 555.65px;
height: 574.98px;
}

.avoidcontacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  gap: 100px;
  margin-top: 60px;
}

.avoidcontacts .number {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 145%;
  color: #fa5652;
  background-color: #fee6e5;
  border: 3px solid #fee6e5;
  border-radius: 50%;
  padding: 5px;
}

.avoidcontactstextbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.avoidcontactstextbox .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 147%;
  text-transform: capitalize;
  color: #035755;
  gap: 20px;
}

.topic4text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 532px;
  height: 160px;
  line-height: 221%;
  text-transform: capitalize;
  color: #4b4f51;
}

.avoidcontacts img {
width: 555.65px;
height: 574.98px;
}